<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/1ce5da1b-9075-41b5-b630-3d6d3e3175a2/resourceGroups/HelloXamarinRG/providers/Microsoft.Web/sites/BasketAPITest</ResourceId>
    <ResourceGroup>HelloXamarinRG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://basketapitest.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://basketapitest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$BasketAPITest</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>